{% extends "base.html" %}
{%block title%}Swimmingly{%endblock%}
{% block content %}

<div class="container mt-5">
    <h1>Welcome to Swimmingly</h1>
    <p>
        Swimmingly is a tool that allows you to upload a video of your freestyle technique and then receive
        measured recordings and analysis of various stroke metrics. Examples of these metrics are stroke count, distance per stroke, 
        and elbow angle.
    </p>
    <h2>How do I use it?</h2>
    <p>
        Just select a video you wish to analyse and then press the upload button. The video will then play and Swimmingly will
        analyse your stroke before closing the video and displaying your metrics below.
    </p>
</div>
<div class="container mt-5">
    
    <div class="mb-3">
        <label for="formFile" class="form-label">Select swimming video to analyse</label>
        <input class="form-control" type="file" id="formFile">
    </div>
</div>



{%endblock%}